html, body {
    margin: 0;
    height: 100%;
}

strong {
    color: white !important;
}

.subtitle {
    color: white !important;
}

.title {
    color: white !important;
}

.game-text {
    color: white;
}

.game-hud {
    padding-left: 5% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    padding-right: 5% !important;
    background-color: rgba(1, 1, 1, .5);
}

.top-left {

    position: absolute;

    top: 2%;
    left: 2%;

    width: 300px;
    height: 200px;
    color: white;

}

#app {
    width: 100%;
    height: 100%;
    display: block;
}